{% extends "padre.html" %}

{%  load static %}


{% block contenido %}
 <!-- ======= About Us Section ======= -->
 <section id="about">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>About Us</h3>
      <p>SOMOS DOS MUY BUENAS AMIGAS, UNIDAS POR UN MISMO SUEÑO, QUE ES BRINDAR UN APORTE ÚTIL A TODO AQUEL QUE TENGA COMO OBJETIVO EL CRECIMIENTO CONSTANTE, ALGO QUE NOS CARACTERIZA COMO EQUIPO QUE CONFORMAMOS.</p>
    </header>

    <div class="row about-cols">

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="about-col">
          <div class="img">
            <img src="{% static 'informacion/assets/img/about-mission.jpg' %}" alt="" class="img-fluid">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
          </div>
          <h2 class="title"><a href="#">Nuestra Misión</a></h2>
          <p>
            PROVEER UN AMBIENTE ENTRE PROFESIONALES QUE BUSCAN ENRIQUECERSE EN CONOCIMIENTO, GENERANDO UNA RED EN CONSTANTE CRECIMIENTO CON EL FIN DE LOGRAR UNA CAPACITACIÓN Y APOYO CONSTANTE.
          </p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="about-col">
          <div class="img">
            <img src="{% static 'informacion/assets/img/about-vision.jpg' %}" alt="" class="img-fluid">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          </div>
          <h2 class="title"><a href="#">Nuestra Visión</a></h2>
          <p>
            OFRECER LA MEJOR EXPERIENCIA PARA EL INTERCAMBIO DE INFORMACIÓN EN FORMATO DIGITAL ENTRE PROFESIONALES POR MEDIO DE NUESTRA PLATAFORMA Y PROPORCIONAR ACCESO AL CONOCIMIENTO MÁS RELEVANTE EN UN SOLO CLICK.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End About Us Section -->
{% endblock %}
